.bs-root {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.bs-root .modal {
   z-index: 999999;
   background: rgba(0,0,0,0.7);    
}
/***************Tabs**************************************************/
.bs-root .nav-tabs .nav-item {
    position: relative;
}
.bs-root .nav-tabs .nav-item .nav-link.is-invalid {
    color: red;
}

.bs-root .nav-tabs .nav-item .nav-link.is-invalid:before {
    position: absolute;
    content: '*';
    left: 5px;
    top: 10px;
}
/***************Tabs**************************************************/
/******************************************************************/
/*****************Image select gallery style Begin**************/
.wpci-image-select ul.image-sortable-list {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: auto;
}        
.wpci-image-select .image-block {
    display: inline-block;
    position: relative;
    /*float: left;*/
    width: 150px;
    height: 150px;    
    background-size: cover;
    margin-top:20px;
    margin-right:5px;
    overflow: hidden;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;    
}        
.wpci-image-select  .image-placeholder {
    display:inline-block;    
    color:#b4b9be;
    padding-top: 0;
    margin-top: 20px;
    margin-right:5px;
    outline: 1px dashed #b4b9be;
    width: 150px;
    height: 150px;
    cursor: pointer;
    /*float:left;*/
}          
.wpci-image-select .image-block .image-block-tools {
    position: absolute;
    height: 50px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    bottom: -100%; 
    padding-top: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .5s;
    padding: 10px;
}

.wpci-image-select .image-block .preview-header {
    background-color: #eee;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

.wpci-image-select .image-block:hover .image-block-tools{
    bottom: 0;
}
.wpci-image-select .image-block .image-block-tools a {
/*    line-height: 36px;            */
}
.wpci-image-select .image-block .image-block-tools a:first-child {
    float: left;
}
.wpci-image-select .image-block .image-block-tools a:last-child {
    float: right;
}
.wpci-image-select .image-placeholder .image-placeholder-background:before {
    display: block;
    content: "\f03e";
/*    width: 20px;
    height: 20px;*/
    padding: 10px 0px;
    font-size: 64px;
    line-height: 1;
    font: normal normal normal 64px/1 FontAwesome;
    text-decoration: inherit;
    vertical-align: top;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
.wpci-image-select .image-placeholder .image-placeholder-background:after {
/*    display: block;
    content:"Click to choose";
    color:#b4b9be;
    text-align: center;
    font-size: 17px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight:200;
    line-height: 50px;*/
}        
.wpci-image-select .image-placeholder .image-placeholder-background .placeholder-text {
    display: block;
    color:#b4b9be;
    text-align: center;
    font-size: 17px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight:200;
    line-height: 17px;    
}
.wpci-image-select .image-sortable-list:before, .image-sortable-list:after {
    display: table;
    content: "";
    line-height: 0;
}
.wpci-image-select .image-sortable-list:after {
    clear: both;
}
/*****************Image select gallery style End**************/
/**********POSTREF MODAL STYLE BEGIN*******************************/
.bs-root .postref-modal .modal-dialog {
    max-width: 1024px;
}

.bs-root .postref-modal .modal-content .modal-header h4 {
    font-size: 20px;
    margin: 0px 0px 10px 5px;
}

.bs-root .postref-modal .modal-content .modal-body {
    padding-top:0px;
    height: 610px;
}

.bs-root .postref-modal .modal-content .modal-body .post-list li {
    padding: 2px 3px;
}

.bs-root .postref-modal .modal-content .modal-body .postref-toolbar {
    margin-bottom: 10px;
}

.bs-root .postref-modal .modal-content .modal-body .pagination-container {
    display: flex;
}

.bs-root .postref-modal .modal-content .modal-body .postref-toolbar .postref-toolbar-controls input {
    margin-right: 10px;
}

.bs-root .postref-modal .modal-content .modal-body .postref-toolbar .postref-toolbar-controls select {
    margin-left: 10px;
}

.bs-root .postref-modal .postlist-enter-active {
    transition: all 1s;
}
.bs-root .postref-modal .postlist-enter {
    opacity: 0;
    transform: translateY(-30px);
}
.bs-root .postref-modal .postlist-leave-active, .postlist-leave {
    display:none;
    transition: none;
}

.bs-root .postref-modal .modal-content .modal-body .post-wrapper {
    padding:5px;
    box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.85);
    cursor: pointer;
    min-height: 160px;
}

.bs-root .postref-modal .modal-content .modal-body .post-wrapper.selected {
    outline:2px solid #e95e38;
}
.bs-root .postref-modal .modal-content .modal-body .post-wrapper .selector {
    margin: 0px;
    padding: 3px;
    width: 100%;
    height: 150px;   
    background-color: rgba(255,255,255,0.5);    
}
.bs-root .postref-modal .modal-content .modal-body .post-wrapper.selected .selector:before {
    position: absolute;
    color: #fff;
    right: 3px;
    top: 0px;
    content: "\F00C";
    background-color: #e95e38;
    width: 22px;
    height: 23px;
    font-size: 14px;
    padding: 0px 6px;
    z-index: 1;
    font-family:Font Awesome\ 5 Pro; 
}
.bs-root .postref-modal .modal-content .modal-body .post-wrapper .content-wrapper {
    font-size: 10px;
}
.bs-root .postref-modal .modal-content .modal-body .post-wrapper .content-wrapper .date {
    float:left;
}
.bs-root .postref-modal .modal-content .modal-body .post-wrapper .content-wrapper .author {
    float:right;
}
/**********POSTREF MODAL STYLE END*******************************/

/**********MAP API STYLE*******************************/
.bs-root .map-container {
    min-height: 400px;
}

.bs-root .input-collection {
    margin-bottom:30px; 
}
.bs-root .input-collection .form-group {
    margin-bottom: 0px;     
}

.bs-root .input-collection .row-template {
    display: none;
}

.bs-root .map-container .input-search {
    background: #fff;
    outline: none;
    border: none;
    min-width: 400px;
    min-height: 32px;
    font-size: 12px;
    margin-top: 10px;
    border-radius: 5px;
}

/**********MAP API STYLE*********************************/

/***********Settings page style*************************/

button.async .fa {
    margin-right: 10px;
}
button.async .processing {
    display: none;
}
button.async .regular {
    display: inline;
}
button.async.disabled .processing {
    display: inline;
}
button.async.disabled .regular {
    display: none;
}

/***********Settings page style*************************/
/***********Multicollection Styles Begin*********************/
.multi-collection {
    margin-bottom: 15px;
}

.multi-collection .sortable-item {
    margin-bottom: 8px;    
}

.multi-collection .sortable-item.multi-collection-template {
    display:none;
}

.multi-collection .sortable-item .sortable-item-header {
    min-height:20px;
    border: 1px solid #ddd;
    border-radius:5px;
    background: #eaeaea;
    padding: 8px;
}

.multi-collection .sortable-item.collapsed .sortable-item-header {
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.multi-collection .sortable-item .sortable-item-header .sortable-controls {
    float: right;
    cursor: pointer;
}

.multi-collection .sortable-item .sortable-item-header .sortable-controls i:before {
    content: "\f0d7";
}

.multi-collection .sortable-item.collapsed .sortable-item-header .sortable-controls i:before {
    content: "\f0d8";
}

.multicollection-placeholder {
    border: 1px dashed #ccc;
    height: 42px;
    margin-bottom: 8px;    
}

.multi-collection .sortable-item .sortable-item-body {
/*    overflow: hidden;*/
    padding: 8px 20px;
    border: 1px solid #ddd;
    border-radius:5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: all .5s ease-in-out;
    display: none;  
}

.multi-collection .sortable-item.collapsed .sortable-item-body {
  background-color: #ffffff;
  display: block;
}


/***********Multicollection Styles End***********************/

.taxonomy-fields .form-group {
    margin-bottom: 15px;
}

.taxonomy-fields .image-placeholder {
    margin-top: 3px; 
}